# user generated logs
logs/

# Herwig outputs
*.run
*.log
*.out
*.hepmc
*.tex

# Herwig installations
Herwig-cache/
Herwig*/

# additional stuff
*.swp

# compilation outputs
*.pyc

# Law outputs
Law-Setup/data/
*.tar.gz
Law-Setup/.law/
