[submodule "Law-Setup/law"]
	path = Law-Setup/law
	url = https://github.com/riga/law.git
[submodule "Law-Setup/luigi"]
	path = Law-Setup/luigi
	url = https://github.com/spotify/luigi.git
[submodule "Law-Setup/six"]
	path = Law-Setup/six
	url = https://github.com/benjaminp/six.git
