# user generated logs and temporary outputs
data/
rivet-plots/

# Herwig outputs
*.run
*.log
*.out
*.hepmc
*.tex

# Herwig installations
Herwig-cache/
Herwig*/*

# additional stuff
*.swp

# compilation outputs
*.pyc

# Law outputs
logs/*
*.tar.gz
.law/
plots*

# vitural environments
.venv

# editor files
.vscode
